body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
}

.card {
  width: 20%;
}

.card-main {
  width: auto;
}

.logo {
  height: auto;
  width: 40px;
  margin-right: 20px;
}

/* Add or modify the styles as needed */
.navbar {
  background-color: #9fc164;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-left a {
  margin-right: 20px;
  text-decoration: none;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 22px;
}

.navbar-right {
  display: flex;
  align-items: center;
  color: #fff;
}

.navbar-right p {
  margin-right: -150px;
}

.profile-container {
  justify-content: space-between;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-right: 100px;
  width: 250px;
}

.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  background-image: url("path/to/profile-image.jpg");
  background-size: cover;
  background-position: center;
  margin-right: 10px;

  color: #1a6324;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.profile-info {
  display: flex;
  flex-direction: column;
  color: white;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #9fc164;
  width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  color: #ffffff;
  border-radius: 10px; /* Tambahkan border-radius sesuai keinginan */
  overflow: hidden; /* Agar border-radius berfungsi */
}

.dropdown-content p{
  margin-left: 15px;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.join-now:hover,
.b:hover {
  color: #2da63b; /* Warna yang diinginkan saat hover */
}

.navbar li a:hover {
  color: #2da63b; /* Warna yang diinginkan saat hover */
}

.navbar a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

.navbar a:last-child {
  margin-right: 0;
  margin-left: auto;
}

.leaderboard-content {
  margin-top: 100px;
  padding: 50px;
  color: #9fc164;
  height: 800px;
  width: auto;
  text-align: left;
}

.leaderboard-content h1 {
  color: #9fc164;
  font-size: 100px;
  margin-bottom: 50px;
  margin-left: 70px;
}

.leaderboard-list {
  background-color: #9fc164;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 70px;
  margin-right: 70px;
  padding-bottom: 100px;
  padding-top: 100px;
  
}

.leaderboard-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1500px;
  margin: 10px;
  margin-left: 70px;
  margin-right: 70px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  color: #fff;
}

