body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: poppins;
}

h2 {
  color: #fff;
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.login-container {
  border-radius: 45px;
  background: rgba(15, 33, 0, 0.19);
  backdrop-filter: blur(25px);
  padding: 20px;
  width: 771px;
  height: 547px;
  flex-shrink: 0;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  color: #fff;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

input {
  width: 456px;
  height: 47px;
  flex-shrink: 0;
  border-radius: 25px;
  background: #fff;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 21px;
  cursor: pointer;
  width: 118px;
  height: 39px;
  margin-left: auto;
  margin-right: auto;
  display: flex; /* Tambahkan baris ini */
  align-items: center; /* Tambahkan baris ini */
  justify-content: center; /* Tambahkan baris ini */
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.login-as-teacher {
  margin-top: 10px;
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
}

.login-as-teacher a {
  color: #4caf50;
  text-decoration: none;
}

.login-as-student {
  margin-top: 10px;
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
}

.login-as-student a {
  color: #4caf50;
  text-decoration: none;
}
