body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.logo {
  height: auto;
  width: 40px;
  margin-right: 20px;
}

.navbar {
  background-color: #9fc164;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-left a {
  margin-right: 20px;
  text-decoration: none;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 22px;
}

.navbar-right {
  display: flex;
  align-items: center;
  color: #fff;
}

.navbar-right p {
  margin-right: -150px;
}

.profile-container {
  justify-content: space-between;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-right: 100px;
  width: 250px;
}

.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  background-image: url("path/to/profile-image.jpg");
  background-size: cover;
  background-position: center;
  margin-right: 10px;

  color: #1a6324;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.profile-info {
  display: flex;
  flex-direction: column;
  color: white;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #9fc164;
  width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  color: #ffffff;
  border-radius: 10px; /* Tambahkan border-radius sesuai keinginan */
  overflow: hidden; /* Agar border-radius berfungsi */
}

.dropdown-content p{
  margin-left: 15px;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

.navbar a:hover,
.join-now:hover,
.b:hover {
  color: #2da63b; /* Warna yang diinginkan saat hover */
}

.navbar li a:hover {
  color: #2da63b; /* Warna yang diinginkan saat hover */
}

.navbar a:last-child {
  margin-right: 0;
  margin-left: auto;
}

.section {
  height: 80px; 
  padding-top: 100px;
  margin-left: 30px;
}

.section h1 {
  font-size: 100px;
  line-height: 90px;
  margin-bottom: -40px;
  color: #56791a;
}

.section p {
  font-size: 50px;
  color: #56791a;
}

.video-container {
  text-align: center;
  justify-content: center;
  margin-top: 200px;
}
.video-container iframe {
  margin-bottom: 10px; /* Add some spacing between the video and the link */
}
.video-wrapper {
  margin-bottom: 10px;
}

.video-container a {
  display: block;
  text-align: center;
  color: #56791a;
  font-size: 16px;
  text-decoration: none;
}
.section2 {
  justify-content: center; /* Center the section horizontally */
  align-items: center; /* Center the content vertically */
  height: 100vh; /* Adjust the height as needed */
  padding: 20px; /* Add padding as needed */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  margin-bottom: -300px;
}

.section2 h4 {
  color: #9fc164;
  font-size: 70px;
  text-align: center;
  margin-bottom: -30px;
}

.section2 p {
  color: #555;
  font-size: 30px;
  text-align: justify;
  padding-right: 50px;
  padding-left: 50px;
}

.b {
  background-color: #7da85d;
  border: none;
  border-radius: 25px;
  border: 1px solid #7da85d;
  color: white;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  margin-left: 50px;
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  transition: all 0.3s;
}

.section3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
}
.sm {
  padding-left: 50px;
  margin-bottom: -30px;
}

.containerl,
.containerr {
  flex: 1;
  padding: 20px;
  border: 1px solid #ddd; /* Tambahkan garis tepi jika diinginkan */
  margin: 10px;
  border-radius: 10px;
  background-color: #f4f4f4; /* Tambahkan warna latar belakang jika diinginkan */
}

.containerl {
  order: 1; /* Mengubah urutan menjadi di sebelah kiri */
}

.containerr {
  order: 2; /* Mengubah urutan menjadi di sebelah kanan */
}