@media only screen and (max-width: 768px) {
  .navbar {
    padding: 15px;
  }

  .navbar ul {
    margin: 0;
  }

  .main-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    height: 100vh;
  }

  .main-content .container,
  .main-content .container2 {
    width: 100%;
  }

  .main-content img {
    height: auto;
    width: 100%;
  }

  .section1,
  .section2,
  .section3,
  .section4 {
    height: 100vh;
  }
}
